:host {
    display: flex;
    .main {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    footer {
        display: flex;
        justify-content: center;
    }
    mat-form-field {
        width: 100%
    }
    .form-submit-btn {
        display: flex;
        justify-content: center;
    }
    mat-card-content {
        background-color: white;
    }
    mat-list-item {
        background-color: paleturquoise;
        margin-bottom: 10px;
    }
  }

  