<main class="main">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <header>
        </header>
        <main>
          <section>
            <div class="example-container">
              <mat-form-field>
                <mat-label>First name</mat-label>
                <input matInput
                       placeholder="first name"
                       formControlName="firstName"
                       required>
                @if (userForm.controls.firstName.invalid) {
                  <mat-error>{{errorMessage}}</mat-error>
                }
              </mat-form-field>
            </div>
          </section>
          <section>
            <div class="example-container">
              <mat-form-field>
                <mat-label>Last name</mat-label>
                <input matInput
                       placeholder="last name"
                       formControlName="lastName"
                       required>
                @if (userForm.controls.lastName.invalid) {
                  <mat-error>{{errorMessage}}</mat-error>
                }
              </mat-form-field>
            </div>
          </section>
          <section>
            <div class="example-container">
              <mat-form-field>
                <mat-label>Phone number</mat-label>
                <input matInput
                       placeholder="phone number"
                       formControlName="phoneNumber"
                       required>
                @if (userForm.controls.phoneNumber.invalid) {
                  <mat-error>{{errorMessage}}</mat-error>
                }
              </mat-form-field>
            </div>
          </section>
          <section>
            <div class="example-container">
              <mat-form-field>
                <mat-label>Enter your email</mat-label>
                <input matInput
                       placeholder="pat@example.com"
                       formControlName="email"
                       (blur)="updateErrorMessage()"
                       required>
                @if (userForm.controls.email.invalid) {
                  <mat-error>{{errorMessage}}</mat-error>
                }
              </mat-form-field>
            </div>
          </section>
          <section class="form-submit-btn">
            <button mat-flat-button color="primary" type="submit">Add User</button>
          </section>
          
        </main>
        <footer>
          @if(users.length !== 0) {

            <mat-card>
              <mat-card-content>
                <mat-nav-list>
                  @for (user of users; track user; let idx = $index, e = $even) {
                    <mat-list-item >
                      <span matListItemTitle >{{ user.firstName }} - {{ user.lastName }} - {{ user.phoneNumber }} - {{ user.email}}</span>
                     
                      <button mat-icon-button (click)="$event.preventDefault(); removeItem(idx); " matListItemMeta>
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-list-item>
                  }
            </mat-nav-list>
              </mat-card-content>
            </mat-card>
          }
        </footer>
    
      </form>
    </mat-card-content>
  </mat-card>
</main>


<router-outlet />
